.conteiner-start, .add-option, .button, .conteiner-forth {
    text-align: center;
}
.h2-style-start, .p-style-start {
    font-family: Montserrat;
}
.type-tarif-paid, .type-tarif, .conteiner2-second, .mini-element-third {
    display: flex;
}
.type-tarif {
    margin: 15px;
}
.type-tarif-separately {
    margin-left: 17px;
    text-align: center;
}
.price-year {
    font-size: 22px;
    margin-top: -13px;
}
.ruble {
    font-size: 13px;
}
.ruble-month {
    font-size: 12px;
}
.conteiner-paid {
    margin: 35px 35px 35px 3px;
    font-size: 14px;
}
.infinity, .infinity-cool {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
}
.infinity {
    margin-top: -10px;
}
.margin-bottom {
    margin-top: -4px;
}
.infinity-cool {
    margin-bottom: -9px;
}
.all-variant-pay {
    margin-top: 35px;
}
.margin-type-tarif-separately {
    margin: 25px 0px 25px 0px;
}
.empty-symbol {
    color: white;
}
.conteiner2-start, .conteiner-second, .plus-minus, .mini-conteiner-third, .discount-price, .element-discount-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue {
    color: #1b746c;
}
.blue-btn {
    background-color: #2dc7ba;
    color: white;
    transition: 0.5s;
}
.transparent {
    color: gray;
}
.blue-transparent {
    color: #1b746c;
}
.blue-btn:hover {
    background-color: #1b746c;
    border: 2px solid #1b746c;
}
.free-days {
    color: gray;
    font-size: 13px;
    margin-top: 10px;
}
.background-element-second {
    background-color: rgb(242, 242, 242);
    border-radius: 3px;
    margin: 10px;
    width: 100px;
}
.element-second {
    padding: 20px 45px 20px 45px;

}
.conteiner-explanation {
    margin: 35px 35px 40px 3px;
    font-size: 14px;
}
.plus-minus {
    margin-top: 6px;
    margin-bottom: 22px;
    user-select: none;
}
.button {
    background-color: #bff1ed;
    align-items: center;
    display: flex;
    color: #25b4a8;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    font-size: 22px;
    margin-top: 28px;
    margin-bottom: 5px;
    cursor: pointer;
    max-width: 100%;
    margin-top: 10px;
}
.minus {
    visibility: hidden;
    padding-left: 8px;
    width: 17px;
    margin-right: auto;
    margin-left: 5px;
}
.plus {
    display: block;
    margin-left: auto;
    margin-right: 5px;
}
.num-less {
    font-size: 14px;
    margin-top: 5px;
}
.button:hover  {
    background-color: #25b4a8;
    color: #bff1ed;
}
.bold {
    font-weight: bold;
}
.img-style-start {
    width: 20px;
}
.circle {
    opacity: 0.5;
    cursor: pointer;
}
.circle:hover {
    opacity: 1;
}
.display-none {
    display: none;
}
.mini-element-third {
    margin: 20px;
}
.mini-mini-element-third {
    width: 250px;
    margin-left: 30px;
}
.price-many {
    font-size: 30px;
    margin: -5px 0px -15px 0px
}
.opacity-month {
    opacity: 0.5;
}
.element-third-margin {
    margin-top: -170px
}
.flag-discount {
    background-image: url(флаг.svg);
    background-repeat: no-repeat;
    padding-top: 10px;
    height: 40px;
    width: 100px;
    margin-left: 20px;
    font-size: 20px;
}
.element-discount-price {
    margin: 0px 10px 0px 10px;
}
.conteiner-forth {
    background-color: #effffd;
    padding: 15px 0px 10px 0px;
}
.conteiner2-start {
    position: sticky;
    top: 0;
    background-color: white;
}